@charset "UTF-8";
.sectionSeven {
  width: 1300px;
  height: 1600px;
  border: 1px solid #3F5148;
  background: url(/images/Bank\ hotel\ Bank__hotel©\ Bank\ hotel\ Bank\ hotel\ Bank\ hotel\ Bank\ hotel\ Bank\ hotel\ Bank\ hotel.png) 0px 1200px no-repeat, #313F38;
  background-size: contain;
  margin: 0 auto;
  display: flex;
}
.sectionSeven .sectionSeven__top {
  width: 25%;
  height: 100%;
}
.sectionSeven .sectionSeven__top .top-cornerText {
  color: rgba(255, 252, 246, 0.5215686275);
  width: 150px;
  margin: 150px 0 0 30px;
}
.sectionSeven .sectionSeven__top .leftTop-img {
  width: 200px;
  margin-top: 250px;
}
.sectionSeven .sectionSeven__top .leftbtm-img {
  width: 180px;
  margin-left: 20px;
  margin-top: 220px;
}
.sectionSeven .sectionSeven__middle {
  width: 50%;
  height: 100%;
}
.sectionSeven .sectionSeven__middle .top-centerText {
  width: 100%;
  height: 100%;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
}
.sectionSeven .sectionSeven__middle .top-centerText .top-topEmblem {
  width: 150px;
  margin: 0 auto;
}
.sectionSeven .sectionSeven__middle .top-centerText .top-topTextformob {
  display: none;
}
.sectionSeven .sectionSeven__middle .top-centerText .top-topText {
  width: 550px;
  margin: 30px auto;
}
.sectionSeven .sectionSeven__middle .top-centerText .top-text {
  width: 350px;
  margin: 0 auto;
  text-align: center;
  color: rgba(255, 252, 246, 0.5215686275);
  font-weight: lighter;
}
.sectionSeven .sectionSeven__middle .top-centerText .center-img {
  margin-top: 100px;
}
.sectionSeven .sectionSeven__middle .top-centerText .midd-bottom {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  margin-top: 50px;
}
.sectionSeven .sectionSeven__middle .top-centerText .midd-bottom .polygon {
  width: 50px;
  height: 50px;
}
.sectionSeven .sectionSeven__middle .top-centerText .midd-bottom .polygonText {
  width: 280px;
  margin: 10px 0 0 10px;
  color: rgba(255, 252, 246, 0.5215686275);
}
.sectionSeven .sectionSeven__bottom {
  width: 25%;
  height: 100%;
}
.sectionSeven .sectionSeven__bottom .rightTop-img {
  width: 200px;
  margin: 430px 0 0 125px;
}
.sectionSeven .sectionSeven__bottom .rightBtm-img {
  width: 325px;
  margin: 350px 0 0 0;
}

@media screen and (max-width: 768px) {
  .sectionSeven {
    width: 100%;
    background-position-y: 920px;
    height: 1200px;
  }
  .sectionSeven .sectionSeven__top {
    width: 25%;
  }
  .sectionSeven .sectionSeven__top .leftTop-img {
    width: 120px;
    height: 150px;
  }
  .sectionSeven .sectionSeven__top .leftbtm-img {
    width: 100px;
    margin-left: 20px;
    margin-top: 70px;
  }
  .sectionSeven .sectionSeven__middle {
    width: 50%;
  }
  .sectionSeven .sectionSeven__middle .top-centerText {
    width: 100%;
  }
  .sectionSeven .sectionSeven__middle .top-centerText .top-topText {
    width: 400px;
  }
  .sectionSeven .sectionSeven__middle .top-centerText .top-topTextformob {
    display: none;
  }
  .sectionSeven .sectionSeven__middle .top-centerText .top-text {
    width: 280px;
    font-size: small;
  }
  .sectionSeven .sectionSeven__bottom {
    width: 25%;
  }
  .sectionSeven .sectionSeven__bottom .rightTop-img {
    width: 100px;
    height: 100px;
    margin: 470px 0 0 70px;
  }
  .sectionSeven .sectionSeven__bottom .rightBtm-img {
    width: 180px;
    margin: 250px 0 0 0;
  }
}
@media screen and (max-width: 400px) {
  .sectionSeven {
    width: 100%;
    height: 1200px;
    background: none;
    background-color: #313F38;
    border: 1px solid #313F38;
  }
  .sectionSeven .sectionSeven__top {
    width: 15%;
  }
  .sectionSeven .sectionSeven__top .top-cornerText {
    display: none;
  }
  .sectionSeven .sectionSeven__top .leftTop-img {
    width: 50px;
    height: 50px;
    margin: 450px 0 0 0;
  }
  .sectionSeven .sectionSeven__top .leftbtm-img {
    width: 100px;
    margin-left: 20px;
    margin-top: 70px;
  }
  .sectionSeven .sectionSeven__middle {
    width: 70%;
  }
  .sectionSeven .sectionSeven__middle .top-centerText {
    width: 100%;
  }
  .sectionSeven .sectionSeven__middle .top-centerText .top-topEmblem {
    width: 90px;
  }
  .sectionSeven .sectionSeven__middle .top-centerText .top-topTextformob {
    display: block;
    width: 250px;
    margin-top: 30px;
  }
  .sectionSeven .sectionSeven__middle .top-centerText .top-topText {
    display: none;
  }
  .sectionSeven .sectionSeven__middle .top-centerText .top-text {
    width: 280px;
    font-size: small;
  }
  .sectionSeven .sectionSeven__middle .top-centerText .center-img {
    width: 200px;
    margin-left: 50px;
  }
  .sectionSeven .sectionSeven__middle .top-centerText .midd-bottom {
    width: 270px;
    margin: 350px 0 0 0;
  }
  .sectionSeven .sectionSeven__bottom {
    width: 15%;
  }
  .sectionSeven .sectionSeven__bottom .rightTop-img {
    width: 80px;
    height: 100px;
    margin: 470px 0 0 -50px;
  }
  .sectionSeven .sectionSeven__bottom .rightBtm-img {
    width: 180px;
    margin: 100px 0 0 -150px;
  }
}

/*# sourceMappingURL=main.css.map */
