.sectionSeven{
    width: 1300px;
    height: 1600px;
    border: 1px solid #3F5148;
    background: url(/images/Bank\ hotel\ Bank__hotel©\ Bank\ hotel\ Bank\ hotel\ Bank\ hotel\ Bank\ hotel\ Bank\ hotel\ Bank\ hotel.png) 0px 1200px no-repeat, #313F38;
    background-size: contain;
    margin: 0 auto;
    display: flex;
    
    .sectionSeven__top{
        width: 25%;
        height: 100%;
        .top-cornerText{
            color: #fffcf685;
            width: 150px;
            margin: 150px 0 0 30px;
        }
        .leftTop-img{
            width: 200px;
            margin-top: 250px;
        }
        .leftbtm-img{
            width: 180px;
            margin-left: 20px;
            margin-top: 220px;
        }
        
    }
    .sectionSeven__middle{
        width: 50%;
        height: 100%;
        // border: 1px solid;
        .top-centerText{
            width: 100%;
            height: 100%;
            margin: 150px auto;
            display: flex;
            flex-direction: column;
            .top-topEmblem{
                width: 150px;
                margin: 0 auto;
            }
            .top-topTextformob{
                display: none;
            }
            .top-topText{
                width: 550px;
                margin: 30px auto;
            }
            .top-text{
                width: 350px;
                margin: 0 auto;
                text-align: center;
                color: #fffcf685;
                font-weight: lighter;
            }
            .center-img{
                margin-top: 100px;
            }
            .midd-bottom{
                display: flex;
                width: 100%;
                height: 20%;
                justify-content: center;
                margin-top: 50px;
                .polygon{
                    width: 50px;
                    height: 50px;
                }
                .polygonText{
                    width: 280px;
                    margin: 10px 0 0 10px;
                    color: #fffcf685;
                }
            }
        }
    }
    .sectionSeven__bottom{
        width: 25%;
        height: 100%;
        .rightTop-img{
            width: 200px;
            margin: 430px 0 0 125px;
        }
        .rightBtm-img{
            width: 325px;
            margin: 350px 0 0 0;
        }
    }
}




@media screen and (max-width:768px){
    .sectionSeven{
        width: 100%;
        background-position-y: 920px;
        height: 1200px;
        .sectionSeven__top{
            width: 25%;
            .leftTop-img{
                width: 120px;
                height: 150px;
            }
            .leftbtm-img{
                width: 100px;
                margin-left: 20px;
                margin-top: 70px;
            }
        
        }
        .sectionSeven__middle{
            width: 50%;
            .top-centerText{
                width: 100%;
                .top-topText{
                    width: 400px;
                }
                .top-topTextformob{
                    display: none;
                }
                .top-text{
                    width: 280px;
                    font-size: small;
                }
            }
        }
        .sectionSeven__bottom{
            width: 25%;
            .rightTop-img{
                width: 100px;
                height: 100px;
                margin: 470px 0 0 70px;
            }
            .rightBtm-img{
                width: 180px;
                margin: 250px 0 0 0;
            }
        }
    }
}




@media screen and (max-width: 400px){
    .sectionSeven{
        width: 100%;
        height: 1200px;
        background: none;
        background-color: #313F38;
        border: 1px solid #313F38;
        .sectionSeven__top{
            width: 15%;
            .top-cornerText{
                display: none;
            }
            .leftTop-img{
                width: 50px;
                height: 50px;
                margin: 450px 0 0 0;
            }
            .leftbtm-img{
                width: 100px;
                margin-left: 20px;
                margin-top: 70px;
            }
        
        }
        .sectionSeven__middle{
            width: 70%;
            .top-centerText{
                width: 100%;
                .top-topEmblem{
                    width: 90px;
                }
                .top-topTextformob{
                    display: block;
                    width: 250px;
                    margin-top: 30px;
                }
                .top-topText{
                    display: none;
                }
                .top-text{
                    width: 280px;
                    font-size: small;
                }
                .center-img{
                    width: 200px;
                    margin-left: 50px;
                }
                .midd-bottom{
                    width: 270px;
                    margin: 350px 0 0 0;

                }
            }
        }
        .sectionSeven__bottom{
            width: 15%;
            .rightTop-img{
                width: 80px;
                height: 100px;
                margin: 470px 0 0 -50px;
            }
            .rightBtm-img{
                width: 180px;
                margin: 100px 0 0 -150px;
            }
        }
    }
}